<div class=" text-center card-padding card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
<div class=" text-center card-padding card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
<div class=" text-center card-padding card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
<div class=" text-center card-padding card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
<div class="text-center card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
<div class="text-center card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            reiciendis corporis laudantium hic
            officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
            iusto ab, iste
            eligendi consectetur maxime odit.</p>
    </div>
</div>
</div>

<div class="tab-pane fade" id="feed" role="tabpanel" aria-labelledby="feed-tab">
    <div class="text-center card-padding card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
                reiciendis corporis laudantium hic
                officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
                iusto ab, iste
                eligendi consectetur maxime odit.
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn like-btn btn-outline-secondary">Like</button>
                <button type="button" class="btn comment-btn btn-outline-secondary">Comment</button>
            </div>
            </p>
        </div>
    </div>

    <div class="text-center card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
                reiciendis corporis laudantium hic
                officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
                iusto ab, iste
                eligendi consectetur maxime odit.
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn like-btn btn-outline-secondary">Like</button>
                <button type="button" class="btn comment-btn btn-outline-secondary">Comment</button>
            </div>
            </p>
        </div>
    </div>

    <div class="text-center card text-dark bg-light mb-3 mx-auto" style="max-width: 58rem;">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
                reiciendis corporis laudantium hic
                officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid
                iusto ab, iste
                eligendi consectetur maxime odit.
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn like-btn btn-outline-secondary">Like</button>
                <button type="button" class="btn comment-btn btn-outline-secondary">Comment</button>
            </div>
            </p>
        </div>
    </div>