<ul class="list-group list-group-flush">
    <li class="list-group-item">
        No food left in the stores? No worries.
        Insects have got you covered!
        Did you know that insects are packed full of protein, good fats, vitamins, minerals, and other benficial
        nutrition?
        Want more info? <a href="https://www.edibleinsects.com/insect-nutrition-information/" target="_blank">Click
            here!</a>
    </li>
    <li class="list-group-item">
        The average adult uses 1-2 rolls of toilet paper per week.
        That is 52-104 rolls per year!
    </li>
    <li class="list-group-item">
        Your preppers pantry should basically be what you eat in a year, just more thought out and made to last.
        If you don't eat it, don't buy it!
    </li>
    <li class="list-group-item">
        Clean water is essential! Bleach is a useful tool to help purify water. Remember to pay attention to the
        percentage of bleach (6% or 8.25%) and the ratio of water to bleach. Bleach has a relatively short life span
        (roughly 6 months) so make sure to stay on top of cycling through your store. 
        Example: 1 gallon of water to 1/8 tsp = 8 drops of 6% bleach.
        For more details checkout the United States EPA website<a
            href="https://www.epa.gov/ground-water-and-drinking-water/emergency-disinfection-drinking-water"
            target="_blank">Click here!</a>
    </li>
    <li class="list-group-item">
        First aid is a must when planning for the unexpected. Hint: It's more than just band-aids but that is a great
        start!
        Checkout out the Red Cross' website for items to have in your basic first aid kit<a
            href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/anatomy-of-a-first-aid-kit.html"
            target="_blank">Click here!</a>
    </li>

</ul>
