
<form id='image-save'> 
<div class="form-group">
  <input type="file" name="imageUser" class="form-control-file" id="imageInfo"/>
  <label class="form-control-file" for="imageInfo"></label>
</div> 
<button type="submit" id='imageSave' class="btn btn-primary">Submit</button> 
</form>
