
<form id='image-save'> 
<div class="form-group">
  <input type="file" name="imageUser" class="form-control-file" id="imageInfo"/>
  <label class="form-control-file" for="imageInfo"></label>
</div> 
<button type="submit" id='imageSave' class="btn btn-primary">Go</button> 
</form>
{{!-- <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form> --}}
{{!-- <div class="form-group">
  <input type="file" name="imageUser" class="form-control-file" id=imageInfo/>
  <label class="form-control-file" for="imageInfo">Choose file</label>
</div>  --}}
