
<form id='image-save'> 
<div class="custom-file">
  <input type="file" name="image" onChange={} value={} class="custom-file-input" id="customFile"/>
  <label class="custom-file-label" for="customFile">Choose file</label>
</div> 
<button type="submit" id='imageSave' class="btn btn-primary">Go</button> 
</form>