<!-- Pantry Generator Modal -->
<div class="modal fade" id="imageUpdate" tabindex="-1" aria-labelledby="image-update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pantryModalLabel">Update Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Exit"></button>
            </div>

            <div class="modal-body">
                <div>
                    <form id='image-save'>
                        <div class="form-group">
                            <input type="file" name="imageUser" class="form-control-file" id="imageInfo" />
                            <label class="form-control-file" for="imageInfo"></label>
                        </div>
                        <button type="submit" id='imageSave' class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>