<!-- Kit Modal -->
<div class="modal fade" id="kitModal" tabindex="-1" aria-labelledby="kitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kitModalLabel">72 Hour Kit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Exit"></button>
            </div>

            <div class="modal-body">

                <table style="width:100%">
                    <tr>
                        <th>Item</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Water - 1 G per person per day</td>
                        <td>
                            <label class="custom-control-label" for="kitWater"></label>
                            <input type="checkbox" class="custom-control-input" id="kitWater">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Food & Utensils - Non-persishable food, ready to eat meals</td>
                        <td>
                            <label class="custom-control-label" for="kitFood"></label>
                            <input type="checkbox" class="custom-control-input" id="kitFood">
                        </td>
                    </tr>

                    <tr>
                        <td>NOAA Weather Alert Radio - Hand crank or battery powered</td>
                        <td>
                            <label class="custom-control-label" for="kitAlertRadio"></label>
                            <input type="checkbox" class="custom-control-input" id="kitalertRadio">
                        </td>
                    </tr>

                    <tr>
                        <td>Blanket, Pillows, Sleeping Bags</td>
                        <td>
                            <label class="custom-control-label" for="kitSleep"></label>
                            <input type="checkbox" class="custom-control-input" id="kitSleep">
                        </td>
                    </tr>

                    <tr>
                        <td>Flashlight - Extra batteries, hand crank or light sticks</td>
                        <td>
                            <label class="custom-control-label" for="kitFlashlight"></label>
                            <input type="checkbox" class="custom-control-input" id="kitFlashlight">
                        </td>
                    </tr>

                    <tr>
                        <td>Whistle - for emergency signal</td>
                        <td>
                            <label class="custom-control-label" for="kitWhistle"></label>
                            <input type="checkbox" class="custom-control-input" id="kitWhistle">
                        </td>
                    </tr>

                    <tr>
                        <td>Dust or Filter Masks - Prevent inhalation of airborne particles</td>
                        <td>
                            <label class="custom-control-label" for="kitMasks"></label>
                            <input type="checkbox" class="custom-control-input" id="kitMasks">
                        </td>
                    </tr>

                    <tr>
                        <td>Moist Towellettes - For sanitation</td>
                        <td>
                            <label class="custom-control-label" for="kitTowellettes"></label>
                            <input type="checkbox" class="custom-control-input" id="kitTowellettes">
                        </td>
                    </tr>

                    <tr>
                        <td>Tools - Wrench, pliers, shovel, hammer</td>
                        <td>
                            <label class="custom-control-label" for="kitTools"></label>
                            <input type="checkbox" class="custom-control-input" id="kitTools">
                        </td>
                    </tr>

                    <tr>
                        <td>Can Opener</td>
                        <td>
                            <label class="custom-control-label" for="kitCan"></label>
                            <input type="checkbox" class="custom-control-input" id="kitCan">
                        </td>
                    </tr>

                    <tr>
                        <td>Plastic Sheeting & Duct Tape - For shelter</td>
                        <td>
                            <label class="custom-control-label" for="kitSheeting"></label>
                            <input type="checkbox" class="custom-control-input" id="kitSheeting">
                        </td>
                    </tr>

                    <tr>
                        <td>Medications - Prescription & non-prescription</td>
                        <td>
                            <label class="custom-control-label" for="kitMeds"></label>
                            <input type="checkbox" class="custom-control-input" id="kitMeds">
                        </td>
                    </tr>

                    <tr>
                        <td>First Aid Supplies - Bandages, ointments, gauze, sanitizer</td>
                        <td>
                            <label class="custom-control-label" for="kitAid"></label>
                            <input type="checkbox" class="custom-control-input" id="kitAid">
                        </td>
                    </tr>

                    <tr>
                        <td>Personal Hygiene Items</td>
                        <td>
                            <label class="custom-control-label" for="kitHygiene"></label>
                            <input type="checkbox" class="custom-control-input" id="kitHygiene">
                        </td>
                    </tr>

                    <tr>
                        <td>Garbage Bags - And plastic ties for personal sanitation</td>
                        <td>
                            <label class="custom-control-label" for="kitBags"></label>
                            <input type="checkbox" class="custom-control-input" id="kitBags">
                        </td>
                    </tr>

                     <tr>
                        <td>Paper Supplies - Note pads, pens, pencils</td>
                        <td>
                            <label class="custom-control-label" for="kitPaper"></label>
                            <input type="checkbox" class="custom-control-input" id="kitPapers">
                        </td>
                    </tr>

                     <tr>
                        <td>Camera - Disposable, to record damage</td>
                        <td>
                            <label class="custom-control-label" for="kitCamera"></label>
                            <input type="checkbox" class="custom-control-input" id="kitCamera">
                        </td>
                    </tr>

                     <tr>
                        <td>Cash & Credit Card</td>
                        <td>
                            <label class="custom-control-label" for="kitCash"></label>
                            <input type="checkbox" class="custom-control-input" id="kitCash">
                        </td>
                    </tr>

                     <tr>
                        <td>Emergency Contant Phone List</td>
                        <td>
                            <label class="custom-control-label" for="kitContact"></label>
                            <input type="checkbox" class="custom-control-input" id="kitContact">
                        </td>
                    </tr>

                     <tr>
                        <td>Maps - Local road & area maps</td>
                        <td>
                            <label class="custom-control-label" for="kitMaps"></label>
                            <input type="checkbox" class="custom-control-input" id="kitMaps">
                        </td>
                    </tr>

                     <tr>
                        <td>Medical History Lists - For every member of your family</td>
                        <td>
                            <label class="custom-control-label" for="kitMedical"></label>
                            <input type="checkbox" class="custom-control-input" id="kitMedical">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-primary kit-save" id="kit-save">Save</button>
            </div>
        </div>
    </div>
</div>