<!-- Log In Modal -->
<form class="user-login">

    <div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logInModalLabel">Sign In!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username-login">
                        <label for="username-login">Enter a username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                        <label for="password-login">Password</label>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </div>
        </div>
    </div>
</form>