<!-- Modal -->
<div class="modal fade" id="pantryModal" tabindex="-1" aria-labelledby="pantryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pantry Generator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Exit"></button>
            </div>

            <div class="modal-body">

                <div class="form-floating mb-3">
                    <select class="form-select" id="numberofKids" aria-label="Number of kids">
                        <option selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="numberofKids">Select the number of those who under the age of 7.<label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="numberofAdults" aria-label="Number of Adults">
                        <option selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="numberofAdults">Select the number of those who are older than the age of 7.</label>
                </div>

                <!--time-->
                <div class="form-floating mb-3">
                    <select class="form-select" id="lengthofTime" aria-label="length of time">
                       
                        <option value="1">1 month</option>
                        <option value="3">3 months</option>
                        <option value="6">6 months</option>
                        <option value="9">9 months</option>
                        <option value="12">12 months</option>                    
                    </select>
                    <label for="lengthofTime">What length of time are you wanting to prepare for?</label>
                </div>

                {{!-- <!--Dietary options-->
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>None</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                    </select>
                    <label for="floatingSelect">Select Any Dietary Restricitons</label>
                </div> --}}
                <div>All fields may be modified later in settings.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-primary pantry-save" id="pantry-save">Save</button>
            </div>
        </div>
    </div>
</div>