<header>
    <div class="container profileBar">

        <div class="row profileMargin">
            <div class="col-3">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
            </div>

            <div class="col-9">
                <div class="row">

                    <div class="col">
                        <button type="button" class="btn btn-outline-primary">Blog/Post</button>
                    </div>

                    <!-- <div class="col">
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                        </div> -->

                    <div class="col-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Account</option>
                            <option value="1">Update Profile</option>
                            <option value="2">Log Out</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="container imgPadding">

    <div class="row justify-content-between">

        <div class="col-3">

            <img src="../images/Futurama-on-Syfy-700x300.jpg" />

            <div class="blogPostBox pantryBoxc center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pantryModal">
                    Pantry Generator
                </button>
                {{> pantrygenerator}}

                <div class="goal">
                    {{!-- input amount of months for pantry generator --}}
                    Goal: <span id="timeGoal"></span>
                </div>
                <table style="width:100%" class="left-white">
                    <tr>

                        <th>Item </th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Grains (lbs)</td>
                        {{!-- dependent on the # of people and length of time --}}
                        <td id="grainsAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkGrains"></label>
                            <input type="checkbox" class="custom-control-input" id="checkGrains">
                        </td>
                    </tr>
                    <tr>
                        <td>Legumes/Beans (lbs)</td>
                        <td id="legumesAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkLegumes"></label>
                            <input type="checkbox" class="custom-control-input" id="checkLegumes">
                        </td>
                    </tr>
                    <tr>
                        <td>Milk (lbs)</td>
                        <td id="milkAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkMilk"></label>
                            <input type="checkbox" class="custom-control-input" id="checkMilk">
                        </td>
                    </tr>
                    <tr>
                        <td>Sugars (lbs)</td>
                        <td id="sugarAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkSugar"></label>
                            <input type="checkbox" class="custom-control-input" id="checkSugar">
                        </td>
                    </tr>
                    <tr>
                        <td>Fats/Oils (lbs)</td>
                        <td id="fatsAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkFats"></label>
                            <input type="checkbox" class="custom-control-input" id="checkFats">
                        </td>
                    </tr>
                    <tr>
                        <td>Fruits/Veggies (lbs)</td>
                        <td id="fruitsVeggiesAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkFruitsVeggies"></label>
                            <input type="checkbox" class="custom-control-input" id="checkFruitsVeggies">
                        </td>
                    </tr>
                     <tr>
                        <td>Salt (lbs)</td>
                        <td id="saltAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkSalt"></label>
                            <input type="checkbox" class="custom-control-input" id="checkSalt">
                        </td>
                    </tr>
                      <tr>
                        <td>Water (gal)</td>
                        <td id="waterAmount"></td>
                        <td>
                            <label class="custom-control-label" for="checkWater"></label>
                            <input type="checkbox" class="custom-control-input" id="checkWater">
                        </td>
                    </tr>

                </table>

                

            </div>

            <div class="blogPostBox pantryBox">
                72 Hour Kit


                <div class="custom-control custom-checkbox">

                    <label class="custom-control-label" for="customCheck1">Item1</label>
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                </div>

                <div class="custom-control custom-checkbox">

                    <label class="custom-control-label" for="customCheck1">Item2</label>
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                </div>

                <div class="custom-control custom-checkbox">

                    <label class="custom-control-label" for="customCheck1">Item3</label>
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                </div>


            </div>

        </div>

        <div class="col-6">


            <div class="blogPostBox blogPostAlign">
                Blog/Post
            </div>

            <div class="blogPostBox">
                <div class="form-group">

                   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

               <div class="blogPostSubmit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>


            </div>
            <div class="blogPostBox">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis corporis laudantium hic
                officiis error voluptas deleniti cumque alias assumenda expedita commodi, aliquid iusto ab, iste
                eligendi consectetur maxime odit.
            </div>

            <div class="blogPostBox">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla doloribus architecto placeat
                minus maiores.
            </div>

            <div class="blogPostBox">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla doloribus architecto placeat
                minus maiores.
            </div>

            <div class="blogPostBox">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla doloribus architecto placeat
                minus maiores.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae voluptas odio reiciendis,
                consequuntur neque alias commodi doloribus
                ducimus sequi vero inventore sit eos! Cumque nihil quas assumenda.
            </div>

            <div class="blogPostBox">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla doloribus architecto placeat
                minus maiores.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At sed similique harum reiciendis qui
                labore incidunt iusto
                reprehenderit deserunt soluta. Repudiandae eos atque inventore a eaque amet. Placeat accusantium
                quam at ratione odit eius
                veritatis vero, distinctio, exercitationem, nulla aspernatur! Quaerat nesciunt, aspernatur
                dolores debitis blanditiis
                ratione id a consequuntur magnam quibusdam, iusto et minus at earum inventore qui magni eius
                perspiciatis, explicabo esse
                atque repellat corporis quod! Dolores deserunt laudantium, non saepe soluta architecto ullam
                eaque eligendi odit iusto rem
                laboriosam perspiciatis accusamus? Placeat tempora magni iste iusto eius beatae vitae error
                recusandae quae rerum reprehenderit
                sed consequatur minus commodi est sequi labore quia blanditiis eveniet non, libero ad atque!
                Deserunt esse, ducimus nesciunt
                laborum voluptas dolorem perferendis dolor?
            </div>
        </div>

        <div class="col-3">
            <div class="funnyTipsBox">
                Funny Tips
            </div>

            <div class="funnyTipsBox">
                Friends List
            </div>

        </div>

    </div>
</div>
<!-- <div>
            checklist
            <div>
                <ol>
                    <li>
                        Pantry Generator
                    </li>
                    <li>
                        72 hour kit
                    </li>
                </ol>
            </div>
        </div>
        <div>
            Comment/Post/feed - middle
        </div>
        <div>
            Tips
            <ol>
                <li>
                    Average adult needs 52 rolls of toilet paper per year
                </li>
                <li>
                    Other fun facts
                </li>
            </ol>
        </div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>
<script src="/javascript/profile.js"></script>