<header>
  <div class="container-fluid profileBar2">
    <nav>
      <div>
        <img class="logo" id="logo3" src="/images/small-logo2.png" alt="Responsive image">
        <a class=" btn btn-outline-light right" href="/profile"> &larr; Back to Profile</a>
      </div>
    </nav>
  </div>
</header>


<section class="main-section">
  {{> articles-info articles}}
  <form class="comment-form">
    <div class="comment-textarea">
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class=" btn btn-outline-light">add comment</button>
      <button type="button" class="upvote-btn btn btn-outline-light">upvote</button>
    </div>
  </form>
  {{> comments articles.comments}}
</section>




<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>