

.profileBar {
    background-color: rgb(130, 245, 253);
    margin: 20px;
}

.profileMargin {
    padding: 20px;
}

.imgPadding {
    margin: 20px;
    padding: 0px;
}

.blogPostBox {
    background-color: rgb(130, 245, 253);
    margin: 5px;
}

img {
    height: 200px;
    width: 200px;
}

.funnyTipsBox {
    background-color: rgb(130, 245, 253);   
    text-align: center;
    margin: 5px;

    /* for layout only */
    height: 200px;
}

.blogPostAlign{
    text-align: center;
    font-size: 25px;
}

.pantryBox{
    width: 200px;
    margin: 5px 0px;
}

.blogPostSubmit {
    background-color: rgb(130, 245, 253);
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}