body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --green-color: #6c9f7f;
    --blue-color: #2C518F;
    --second-green: #8bb69b;
}

.profileBar {
    background-color: var(--blue-color);
}

.profileBar2 {
    background-image: linear-gradient( #8bb69b 20%, #2C518F);
    height: 200px;
}

.nav-item {
    margin-top: 5px;
    display: flex;
}

#nav-title {
    height: 40px;
}

.signup-card {
    margin: auto;
}

#title3 {
    height: 80px;
}

.card-padding {
    margin-top: 20px;
}

.extended {
    margin-bottom: 20px;
}

.hero-section {
    background-image: linear-gradient(#2C518F, #6c9f7f);
    width: 100%;
}

.main-section {
    background-color: var(--blue-color);
}

.main-section2 {
    background-image: linear-gradient(#2C518F 30%, #6c9f7f);
}

.blog-section {
    margin-top: 100px;
}

.scrollbar, .scrollbar2 {
    height: 550px;
    overflow-y: scroll;
}

.scrollbar3 {
    height: 450px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-green);
    border-radius: 20px;
}    

::-webkit-scrollbar-track {
    background-color: var(--green-color);
}

.tips-section {
    margin-top: 100px;
    
}

#logo3 {
    height: 100px;
    margin-top:2px;
}

#main-logo {
    margin-bottom: 100px;
}

#title1 {
    height: 100px;
    margin-bottom: 20px;
}

#title2 {
    height: 100px;
    margin-bottom: 20px;
}

#title-profile {
    height: 70px;
    margin-bottom: 20px;
}


#logo2 {
    max-height: 100px;
}

.padding {
    padding: 5px;
}

.alerts-section {
    margin-top: 20px;
}

.blog-section2 {
    background-color:transparent;
    border-radius: 8px;
    border:  transparent;
    padding: 2px;
    margin-bottom: 10px;
}

#article-tab, #feed-tab {
    background-color: transparent;

}

.nav-tabs {
    border-bottom: transparent;
}

.picture-card {
    margin-bottom: 15px;
}

.tab-content {
    background-color: transparent;
}

.small-italic {
    font-size: smaller;
    /* font-style: italic; */
    color:var(--green-color);
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

