body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --green-color: #6c9f7f;
    --blue-color: #2C518F;
    --second-green: #8bb69b;
}

.profileBar {
    background-color:var(--blue-color);
}

.nav-item {
    margin: 5px;
    display: flex;
}

.signup-card {
    margin: auto;
}

.extended {
    margin-bottom: 20px;
}

.hero-section {
    background-image: linear-gradient(#2C518F, #6c9f7f);
    width: 100%;
}

.main-section {
    background-color: var(--green-color);
}

.blog-section {
    margin-top: 100px;
}

.scrollbar, .scrollbar2 {
    height: 550px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-green);
    border-radius: 20px;
}    

::-webkit-scrollbar-track {
    background-color: var(--green-color);
}

.tips-section {
    margin-top: 100px;
    margin-right: 20px;
}

.logo2 {
    margin-bottom: 100px;
}

#title1 {
    height: 100px;
    margin-bottom: 20px;
}

#title2 {
    height: 100px;
    margin-bottom: 20px;
}

#logo2 {
    height: 100px;
}

.container {
    display: flex;
    flex-direction: row;
}

.white {
    color: white;
}








@media (min-width: 576px) {  
   .logo1 {
    max-height: 100px;
   }

   .logo2 {
       max-height: 274px;
       margin-top: 20px;
   }

   .signup-card {
       min-width: 360px;
   }

   .blog-section{
       min-width: 580px;
   }

   .blog-section {
        min-width: 580px;
   }

   #title1 {
        height: 76px;
        margin-bottom: 20px;
    }

    #title2 {
        height: 170px;
        align-content: center;
    }

    .tip-card {
        width: 50rem;
    }
}










@media (min-width: 768px) {

}


@media (min-width: 992px) {  

}





@media (min-width: 1200px) { 

}
