body {
    margin: 0;
    padding: 0;
}

:root {
    --green-color: #6c9f7f;
    --blue-color: #2C518F;
    --second-green: #8bb69b;
}

.nav-link {
    color: black;
    background-color: white;
}


.profileBar, .homepageBar  {
    background-color: var(--blue-color);
}

.profileMargin {
    padding: 10px;
}

.imgPadding {
    margin: 20px;
    padding: 0px;
}

.blogPostBox {
    background-color: var(--blue-color);
    margin: 5px;
}

.funnyTipsBox {
    background-color: var(--blue-color);   
    text-align: center;
    margin: 5px;

    /* for layout only */
    height: 200px;
}

.blogPostAlign{
    text-align: center;
    font-size: 25px;
}

.pantryBox{
    width: 200px;
    margin: 5px 0px;
}

.blogPostSubmit {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin: 5px;
    display: flex;
    
}


.signup-card {
    margin: auto;
}

.extended {
    margin-bottom: 20px;
}



.hero-section {
    background-image: linear-gradient(#2C518F, #6c9f7f);
    width: 100%;
}

.main-section {
    background-color: var(--green-color);
}

.blog-section {
    margin-top: 100px;

}

.scrollbar, .scrollbar2 {
    height: 550px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-green);
    border-radius: 20px;
}    

.tips-section {
    margin-top: 100px;
}

.logo {
    margin-bottom: 100px;
}

#title1 {
    height: 100px;
    margin-bottom: 20px;
}

#title2 {
    height: 100px;
    margin-bottom: 20px;
}

#logo2 {
    height: 100px;
}

.custom-element {
    color: color-yiq(#000); 
  }

  .white-letters {
      color: white;
  }

  .goal {
      color: white;
      background: #6c9f7f;
      font-weight: bold;
  }

  .center {
      text-align: center;
  }

  .left-white {
      text-align: left;
      color: white;
  }

